<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-31039990-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-31039990-1');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EnterCloud | Cloud Development</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/etc-logo2.png" width="100" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Our Expertise</a>
            </li>
            <li class="nav-item">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#approach">Our Approach</a>
              </li>
              <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h2 class="text-white-50 mx-auto mt-2 mb-5"> <b>Enter the Cloud</b></h2>
          <a href="/contact" class="btn btn-primary js-scroll-trigger">Book A Free Consultation</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center bg-light">
      <div class="container">
        <div class="row justify-content-md-center no-gutters mb-4 mb-lg-5">
          <div class="col-12">
            <div class="project-text w-100 my-auto text-center">
              <h1 class="text-black"><b>Enterprise Cloud Solutions</b></h1>
           </div>
         </div>
      </div>

      <!--start div title-->
        <div class="title">
          <div class="container">
            <div class="row">
              <div class="col">
            <div class="option">
                <i class="fas fa-shield-alt"></i>
                <h5><b>Cloud Security</b></h5>
                <p>Operate at scale and still remain secure with
                  our cloud security services including compliance,
                  application security, data privacy and protection.</p>
            </div>
          </div>
          <div class="col">
              <div class="option">
                    <i class="fas fa-server"></i>
                <h5><b>Cloud Migration</b></h5>
                <p>Modernize your applications on Kubernetes
                utilizing immutable docker containers for
                 zero-downtime automated deployments.
                </p>
            </div>
              </div>
              <div class="col">
              <div class="option">
               <i class="fa fa-home" aria-hidden="true"></i>
                <h5><b>Cloud Management & Optimization</b> </h5>
                <p>Manage cloud spend with highly reliable cloud
                  services and advanced analytics that support your
                  cloud infrastructure.</p>
             </div>
  </div>
  <div class="col">
             <div class="option">
<i class="fas fa-cloud"></i>
                <h5><b>Cloud Architecture & Design</b></h5>
                <p>Reinvent your application portfolio to
                make use of emerging technology for rapid deployment of software
                with automatic rollout/rollback to production.</p>
            </div>
              </div>
            <div class="col-md-12 p-4 text-center">
      <a href="/contact" class="btn btn-primary js-scroll-trigger">Get Started</a>
          </div>

          </div>
        </div>
        </div>
      <!-- end div title-->
</div>

</section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
<h1 class="pb-4"> <b> Our Expertise </b></h1>
<p> We use only cutting-edge technology for best results.</p>
<a href="/contact"><p> Learn More</p></a>

        <div class="row align-items-center">
          <div class="col">
  <a href="/contact" target="_blank">
<img src="img/terraform.svg" style="width:150px">
  </a>
</div>
<div class="col">
<a href="/contact" target="_blank">
<img src="img/ansible.png" style="width:150px">
</a>
</div>
<div class="col">
<a href="/contact" target="_blank">
<img src="img/aws.png" style="width:150px">
</a>
</div>
<div class="col">
<a href="/contact" target="_blank">
<img src="img/kube.png" style="width:150px">
</a>
</div>
</div>
<!--Second Row for Images-->
<div class="row align-items-center">
  <div class="col">
    <a href="/contact" target="_blank">
  <img src="img/docker.png" style="width:150px">
    </a>
  </div>
  <div class="col">
  <a href="/contact" target="_blank">
  <img src="img/jenkins.png" style="width:150px">
  </a>
  </div>
  <div class="col">
  <a href="/contact" target="_blank">
  <img src="img/amazon-eks.png" style="width:150px">
  </a>
  </div>
  <div class="col">
  <a href="/contact" target="_blank">
  <img src="img/chef.png" style="width:150px">
  </a>
  </div>
  </div>



      </div>
    </section>

    <!-- Signup Section -->
    <section id="approach" class="signup-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
<h1> <b>Our Approach </b></h1>

<div class="p-5">
<p><i class="fas fa-check"></i> Scalable — Your capabilities & applications grow as you do.</p>
<p><i class="fas fa-check"></i> Cost-effective — Efficient technology improves your bottom line.
</p>
<p><i class="fas fa-check"></i> Hassle Free — We make the transitions as smooth as possible.
</p>
<p><i class="fas fa-check"></i> Customized — Industry Experts for best practice solutions to achieve business objective and growth strategy.</p>

</div>

  <a href="/contact" class="btn btn-primary js-scroll-trigger">Request A Cloud Assessment</a>

          </div>
        </div>
      </div>
    </section>

<!-- Our Customer Section-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
  <h1 class="p-3"> <b>Past Clients </b></h1>

  <div class="slider">
      <div class="row">
          <div class="col">
  	<div class="slide-track">
     
  		<div class="slide">
  			<img src="img/autodesk.png" height="100" width="250" alt="" />
  		</div>
  		<div class="slide">
  			<img src="img/liberty-mutual.png" height="100" width="250" alt="" />
  		</div>
  		<div class="slide">
  			<img src="img/awater.png" height="100" width="250" alt="" />
  		</div>
  		<div class="slide">
  			<img src="img/fca.jpg" height="100" width="250" alt="" />
  		</div>
  		<div class="slide">
  			<img src="img/echo.png" height="100" width="250" alt="" />
  		</div>
  		<div class="slide">
  			<img src="img/cognizant.png" height="100" width="250" alt="" />
  		</div>
  	</div>
  </div>
</div>
</div>
</div>
</div>
</div>

</section>




    <!--footer starts from here-->
  <footer class="footer">
  <div class="container bottom_border">
  <div class="row">
  <div class=" col-sm-4">
  <h5 class="headin5_amrc col_white_amrc pt2 text-center">Find us</h5>
  <!--headin5_amrc-->
  <p><i class="fa fa-location-arrow"></i> 332 S Michigan Ave Chicago, IL 60604 </p>
  <p><i class="fa fa fa-envelope"></i> admin@entercloud.info  </p>


  </div>


  <div class=" col-sm-4">
  <h5 class="headin5_amrc col_white_amrc pt2 text-center">Quick links</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  <li><a href="#about">Cloud Security</a></li>
  <li><a href="#about">Cloud Migration</a></li>
  <li><a href="#about">Cloud Management & Optimization</a></li>
  <li><a href="#about">Cloud Architecture & Design</a></li>
  <li><a href="https://www.academia.edu/37570818/Enterprise_K8S_Kubernetes_Logging" target="_blank">Case Study</a></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>


    <div class=" col-sm-4">
    <h5 class="headin5_amrc col_white_amrc pt2 text-center">Follow us</h5>
    <!--headin5_amrc ends here-->

    <ul class="social_footer_ul">
    <li><a href="https://www.facebook.com/entercloud" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://twitter.com/enter_cloud" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/company/enterthecloud" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://twitter.com/enter_cloud" target="_blank"><i class="fab fa-github"></i></a></li>
    </ul>
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    </div>


    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="#page-top">Home</a></li>
    <li><a href="#about">Services</a></li>
    <li><a href="#projects">Our Expertise</a></li>
    <li><a href="#approach">Our Approach</a></li>
    <li><a href="/contact">Contact</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2018 | <a href="#page-top">EnterCloud LLC</a></p>


    <!--social_footer_ul ends here-->
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/index.min.js"></script>

  </body>

</html>
